<!DOCTYPE html>
<html>
<head>
    <title>MWM Home</title>
</head>
<body>
    <h1>Test Links</h1>

    <h2>Chris Mayfield</h2>
    <ul>
        <li><a href="workshop">Workshops</a></li>
        <li><a href="workshop/1">Edit Workshop</a></li>
        <li><a href="workshop/new">Add Workshop</a></li>
    </ul>

    <h2>Mona Rizvi</h2>
    <ul>
        <li><a href="person">Persons</a></li>
        <li><a href="person/murrayye@jmu.edu">Edit Person</a></li>
        <li><a href="person/new">Add Person</a></li>
    </ul>

</body>
</html>
