<!DOCTYPE html>
<html>
<head>
    <title>{{ "Add" if key == "new" else "Edit" }} Person</title>
</head>
<body>
    <h1>{{ "Add" if key == "new" else "Edit" }} Person</h1>

    {% for message in get_flashed_messages() %}
    <p><i>{{ message }}</i></p>
    {% endfor %}

    <form>
        <p>
            Email:<br>
            <input name="Email" type="text" value="{{ values[0] }}">
        </p>
        <p>
            Type:<br>
            <input name="Type" type="text" value="{{ values[1] }}">
        </p>
        <p>
            First Name:<br>
            <input name="FirstName" type="text" value="{{ values[2] }}">
        </p>
        <p>
            Last Name:<br>
            <input name="LastName" type="text" value="{{ values[3] }}">
        </p>
        <p>
            Phone:<br>
            <input name="Phone" type="text" value="{{ values[4] }}">
        </p>
        <p>
            Department Code:<br>
            <input name="Department_Code" type="text" value="{{ values[5] }}">
        </p>

        {% if key == "new" %}
        <p>
            <input name="action" type="submit" value="Insert" style="color: green;">
            <input name="action" type="submit" value="Cancel">
        </p>
        {% else %}
        <p>
            <input name="action" type="submit" value="Update" style="color: green;">
            <input name="action" type="submit" value="Cancel">
            <input name="action" type="submit" value="Delete" style="color: red">
        </p>
        {% endif %}
    </form>
</body>
</html>
