<!DOCTYPE html>
<html>
<head>
    <title>{{ "Add" if key == "new" else "Edit" }} Workshop</title>
</head>
<body>
    <h1>{{ "Add" if key == "new" else "Edit" }} Workshop</h1>

    {% for message in get_flashed_messages() %}
    <p><i>{{ message }}</i></p>
    {% endfor %}

    <form>
        <p>
            ID:<br>
            <input name="ID" type="text" value="{{ values[0] }}">
        </p>
        <p>
            State:<br>
            <input name="State" type="text" value="{{ values[1] }}">
        </p>
        <p>
            Title:<br>
            <input name="Title" type="text" value="{{ values[2] }}">
        </p>
        <p>
            Advertisement:<br>
            <input name="Advertisement" type="text" value="{{ values[3] }}">
        </p>
        <p>
            Description:<br>
            <input name="Description" type="text" value="{{ values[4] }}">
        </p>
        <p>
            Capacity:<br>
            <input name="Capacity" type="text" value="{{ values[5] }}">
        </p>
        <p>
            Computer Needs:<br>
            <input name="ComputerNeeds" type="text" value="{{ values[6] }}">
        </p>
        <p>
            Room Needs:<br>
            <input name="RoomNeeds" type="text" value="{{ values[7] }}">
        </p>
        <p>
            Max Repeat:<br>
            <input name="MaxRepeat" type="text" value="{{ values[8] }}">
        </p>
        <p>
            Parent Questions:<br>
            <input name="ParentQuestions" type="text" value="{{ values[9] }}">
        </p>
        <p>
            Other Information:<br>
            <input name="OtherInformation" type="text" value="{{ values[10] }}">
        </p>
        <p>
            Event Year:<br>
            <input name="Event_Year" type="text" value="{{ values[11] }}">
        </p>
        <p>
            Room Name:<br>
            <input name="Room_Name" type="text" value="{{ values[12] }}">
        </p>

        {% if key == "new" %}
        <p>
            <input name="action" type="submit" value="Insert" style="color: green;">
            <input name="action" type="submit" value="Cancel">
        </p>
        {% else %}
        <p>
            <input name="action" type="submit" value="Update" style="color: green;">
            <input name="action" type="submit" value="Cancel">
            <input name="action" type="submit" value="Delete" style="color: red">
        </p>
        {% endif %}
    </form>
</body>
</html>
